*{
margin:0px
}
body{
background-color:black;
color:white;
}
.disfc{
display:flex;
align-items:center;
}
header{
display:flex;
align-items:center;
color:white;
justify-content:space-between;
}
#logo{
display:flex;
align-items:center;
}
#logo h1{
margin-right:50px;
}
h1{
color:white;}
a{
color:white;
text-decoration:none;
margin-right:20px;
padding:5px 20px;
background-color:transparent;
transition:all 1s;
}
.bodt{
border-radius:3px;}
.bgc-p{
background-color:purple;
}
#col h1{
background-image:linear-gradient(to right,blue 0%,purple 50%,red);
background-clip:text;
-webkit-text-fill-color:transparent;
}
