body{
    overflow: hidden;
    margin: 15px; 
}
section{
    align-items: center;
    justify-content: center;
    text-align: center;
    width:45%;
    height: 90%;
    margin-left: 27.5%;
    margin-right: 27.5%;
    border: 2px solid black;
    
    
}
section:hover{
    transform: translateX(100px);
    transition: all 1s ease;
}
header {
background-color:rgb(150, 228, 228);
text-align: center;
align-items: center;
justify-content: center;
width: auto;
padding: 3px 10px;
margin-bottom: 10px;
height: fit-content;    
}
footer {
background-color:rgb(150, 228, 228);
text-align: center;
align-items: center;
justify-content: center;
width: auto;
height: fit-content;
padding: 1px 10px;

}
#mid #top{
    text-align: left;
    padding-left: 20px;
}

