body{
    overflow: hidden;
    height: 100vh;
    width:100%;
    margin: 0px;
    
    
}
header{
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: blanchedalmond;
    padding: 2px;
}
#first{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}
#first #one img:hover{
    border: 3px solid rgb(157, 165, 239);

} 
#first #two{
    padding-left: 55px;
    margin-right:50px ;
}
#second{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:7px;
    margin-left: 260px;
}
#second #prolang{
    background-color:rgb(183, 241, 241);
    border-radius: 60px;
    width: 15%;
    height: 8%;
    margin-right: 20px;
    text-align: center;
    
}
#second #prolang:hover{
    border: 3px solid rgb(161, 213, 213);
}
#second #db{
    background-color:rgb(168, 224, 242);
    border-radius: 60px;
    width: 15%;
    height: 94px;
    margin-right: 20px;
    text-align: center;
    justify-content: center;
    padding-top:22px
}
#second #db:hover{
    border: 3px solid rgb(152, 202, 219);
}
#second #WD{
    background-color:rgb(161, 228, 250);
    border-radius: 60px;
    width: 18%;
    height: 103px;
    margin-right: 20px;
    text-align: center;
    padding-top: 10px;
}
#second #WD:hover{
    border: 3px solid rgb(146, 207, 227);
}
#second #mern{
    background-color:rgb(162, 202, 249);
    border-radius: 60px;
    width: 17%;
    height: 9.5%;
    
    margin-right: 20px;
    text-align: center;
}
#second #mern:hover{
    border: 3px solid rgb(145, 184, 229);
}
footer{
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color:black;
    padding: 2px;
    color: white;
    margin-top: 3.5%;
}
