*{
margin:0px
}
.disfc{
display:flex;
align-items:center;
}
body{
align-items:center;
justify-content:center;
padding-left:300px;
}
a{
text-decoration:none;
margin-right:6px;
padding:5px 10px;
color:black;
transition:all 1s;
}
#login{
width:176px;
justify-content:center;
align-items:center;
background-color:blue;
color:white;
border-radius:6px;
}
main{
padding-left:100px;
width:300px;
height:30opx;
border:solid thin grey;
align-items:center;
justify-content:center;
}
footer{
padding-left:100px;
border:solid thin grey;
width:300px;
height:5opx;
align-items:center;
justify-content:center;
}
#greyline #or{
background-color:transparent;
color:grey;
align-items:center;
padding-left:15px;
justify-content:center;
width:35px;
height:2opx;
}
#greyline #line{
width:60px;
height:2px;
background-color:grey;
color:grey;
}
#greyline #lin{
width:60px;
height:2px;
background-color:grey;
color:grey;
}
#applink{
padding-left:30px;
background-color:white;
}
#applink div{
background-color:black;
}