*{
margin:0px
padding:opx;
}
.active{
border-bottom:solid thick brown;
box-shadow:12px 17px 30px 2px brown;
}
#top{
display:flex;
justify-content:space-between;
padding-left:800px;
padding-bottom:8px;
align-items:center;
background-color:lightyellow;
}
#top a{
color:darkblue;
}
#important{
position:absolute;
background-color: white;
display:none;
}
#important:hover{
display:block;
}
#important a{
color:red;
}
#important li{
padding:8px 15px;
}
#mid{
justify-content:center;
background-color:lightblue;
}
#mid img:hover{
border:solid black;
}
#mid img,#two img{
border-radius:98px;
float:left;
margin-right:50px;
}
a{
text-decoration:none;
margin-right:6px;
padding:5px 10px;
color:black;
transition:all 1s;
}
#bottom{
display:flex;
justify-content:space-between;
align-items:center;
background-color:orange;
height:50px;
}
#bottom div:hover{
background-color:lightyellow;
border:solid brown;
}
#bottom div{
border-radius:20px;
align-items:center;
padding:5px;
}
footer{
background-color:black;
color:white;
align-items:center;
justify-content:center;
padding:5px;
}
footer a,footer i{
color:white;
margin-left:60px;
}
#two{
align-items:center;
justify-content:center;
padding:55px;
}
#follow img,#courses div img{
border-radius:100px;
}
#follow img:hover{
margin:0px;
border:solid lightgrey;
}
#courses{
align-items:center;
display:flex;
justify-content:space-between;
}
#courses div{
align-items:center;
text-align:center;
justify-content:center;
width:550px;
border-radius:60px;
border:solid black;
margin:20px;
padding:10px;
background-color:lightyellow;
color:darkblue;
box-shadow:20px 18px 30px 5px lightyellow;
}
#three{
background-color:purple;
}
#one{
background-color:lightgrey;
}
#abt p{
font-size:20pt;
}
#engg1,#engg2,#pg{
display:flex;
justify-content:space-between;
}
#engg1 div,#engg2 div,#pg div,#civil,#manage{
align-items:center;
text-align:center;
justify-content:center;
border-radius:40px;
border:solid grey;
margin:20px;
padding:10px;
box-shadow:20px 18px 30px 5px grey;
}
#civil,#manage{
background-color:lightyellow;
}