*{
margin:0px
padding:0px;
}
#aside{
width:25%;
height:99%;
overflow-y:auto;
margin-right:10px;
position:fixed;
}
#upblock{
display:flex;
justify-content:space-between;
}
#chat img{
border-radius:25px;
width:50px;
height:50px;
margin:0px 15px;
}
#chat b{
font-size:25pt;
margin-left:10px;
}
#searching{
justify-content:space-between;
border:solid thin darkgrey;
border-bottom:solid thick green;
border-radius:5px;
width:25%px;
height:25px;
margin-top:20px;
padding-top:7px;
}
input[type="search"]{
border:none;
width:300px;
height:20px;
}
main div img{
border-radius:45px;
width:50px;
height:50px;
margin-top:25px;
margin-right:20px;
}
main div h4{
 display:inline;
}
.marleft{
margin-left:210px;
color:grey;
}
.divcolor{
color:grey;
}
#imag img{
border-radius:25px;
width:50px;
height:50px;
}
#rechat{
display:flex;
margin-left:400px;
}
#combine{
display:flex;
margin:0px 15px;
}

